.scroller {
	overflow: hidden !important;
	position: relative;
}

.scroller .scroll-wrap {
	position: absolute;
	top: 0px;
	right: 20px;
	bottom: 20px;
	left: 0px;
	overflow: hidden;
}

.no-arrows .scroll-wrap {
	right: 0;
	bottom: 0;
}

.scroller .scroll-view {
	overflow: hidden;
	width: 100%;
}
			
.scroller .scroll-bar {
	position: absolute;
	z-index: 1;
}

.scroller .v-scroll {
	top: 0px;
	left: auto;
	right: 0px;
	width: 20px;
	bottom: 20px;
}

.scroller.no-scroll-v .v-scroll {
	display: none !important;
}

.scroller.no-scroll-h .v-scroll {
	bottom: 0px;
}

.scroller .h-scroll {
	left: 0px;
	top: auto;
	right: 20px;
	height: 20px;
	bottom: 0px;
}

.scroller.no-scroll-v .h-scroll {
	right: 0px;
}

.scroller.no-scroll-h .h-scroll {
	display: none !important;
}
		
.scroller .scroll-track {
	position: absolute;
}

.scroller .v-scroll .scroll-track {
	top: 20px;
	bottom: 20px;
	left: 0px;
	right: 0px;
}

.scroller .h-scroll .scroll-track {
	top: 0px;
	bottom: 0px;
	left: 20px;
	right: 20px;
}

.scroller .scroll-thumb {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: black;	
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
}

.scroller .v-scroll .scroll-thumb {
	top: 20px;
	height: 60px;
	left: 4px;
	right: 4px;
}

.scroller .h-scroll .scroll-thumb {
	left: 70px;
	width: 20px;
	top: 4px;
	bottom: 4px;
}

.scroller .scroll-btn {
	position: absolute;
	width: 20px;
	height: 20px;
	font-size: 12px;
	line-height: 18px;
	text-align: center;
	vertical-align: middle;
	color: black;
	font-weight: bold;	
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;	
	-moz-box-sizing: border-box;	
	cursor: default;
}

.scroller .scroll-btn:hover {
	color: #666;
}

.scroller .scroll-up {
	top: 0px;
	left: 0px;
}

.scroller .scroll-down {
	left: 0px;
	bottom: 0px;
	top: auto;
}

.scroller .scroll-left {
	left: 0px;
	top: 0px;
}

.scroller .scroll-right {
	top: 0px;
	right: 0px;
	left: auto;
}

.scroller .scroll-break {
	position: absolute;
	bottom: 0px;
	right: 0px;
	height: 20px;
	width: 20px;
	left: auto;
	top: auto;
}


/*
.scroller.no-scroll-v .scroll-wrap {
	left: auto;
	right: 0px;
}
.scroller.no-scroll-h .scroll-wrap {
	top: auto;
	bottom: 0px;
}
*/
.scroller.no-scroll-v .scroll-break,
.scroller.no-scroll-h .scroll-break {
	display: none;
}