.scroller .scroll-wrap {
	right: 0;
	bottom: 0;
}

.scroller .v-scroll {
	top: 0px;
	left: auto;
	right: 0px;
	width: 8px;
	bottom: 8px;
}

.scroller .h-scroll {
	left: 0px;
	top: auto;
	right: 8px;
	height: 8px;
	bottom: 0px;
}

.scroller .v-scroll .scroll-track {
	top: 2px;
	bottom: 2px;
	left: 0px;
	right: 0px;
}

.scroller .h-scroll .scroll-track {
	top: 0px;
	bottom: 0px;
	left: 2px;
	right: 2px;
}

.scroller .scroll-thumb {
	position: absolute;
	top: 0px;
	left: 0px;	
  background-color: #999;
  background-color: rgba(0, 0, 0, 0.33);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;    
}
  /*
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	background-color: #666;
	*/

  /*
.scroller .scroll-thumb:hover {
  background-color: #999;
  background-color: rgba(0, 0, 0, 0.33);
	background-color: #666;
  background-color: rgba(0, 0, 0, 0.66);
}
  */

.scroller .v-scroll .scroll-thumb {
	top: 20px;
	height: 60px;
	left: 0px;
	right: 2px;
}

.scroller .h-scroll .scroll-thumb {
	left: 70px;
	width: 20px;
	top: 0px;
	bottom: 2px;
}

.scroller .scroll-btn {
  display: none;
}


/*
.scroller .scroll-btn {
	position: absolute;
	width: 20px;
	height: 20px;
	font-size: 12px;
	line-height: 18px;
	text-align: center;
	vertical-align: middle;
	color: black;
	font-weight: bold;	
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;	
	-moz-box-sizing: border-box;	
	cursor: default;
}

.scroller .scroll-btn:hover {
	color: #666;
}

.scroller .scroll-up {
	top: 0px;
	left: 0px;
}

.scroller .scroll-down {
	left: 0px;
	bottom: 0px;
	top: auto;
}

.scroller .scroll-left {
	left: 0px;
	top: 0px;
}

.scroller .scroll-right {
	top: 0px;
	right: 0px;
	left: auto;
}

.scroller .scroll-filler {
	position: absolute;
	bottom: 0px;
	right: 0px;
	height: 20px;
	width: 20px;
	left: auto;
	top: auto;
}

.scroller.no-scroll-v .scroll-filler,
.scroller.no-scroll-h .scroll-filler {
	display: none;
}
*/